In [14]:
import sys
import os
import numpy as np

# Ensure 'backend' is in sys.path
backend_path = os.path.abspath(os.path.join(os.getcwd(), "../.."))
if backend_path not in sys.path:
    sys.path.insert(0, backend_path)

# Now import the module
from app.services.clustering import cluster_users

In [15]:
import pandas as pd
from sqlalchemy import create_engine


# Connect to PostgreSQL
engine = create_engine("postgresql://coleuyematsu@localhost/roommatch")

# Query the responses table
df = pd.read_sql("SELECT * FROM responses", engine)

# Display in a nicely formatted table
df

,id,user_id,question1,question2,question3,question4,question5,question6,question7,question8,...,question16,question17,question18,question19,question20,question21,question22,question23,question24,question25
0,2,2,7,4,9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,4,10,20,30,40.0,50.0,60.0,70.0,80.0,...,160.0,170.0,180.0,190.0,200.0,210.0,220.0,230.0,240.0,250.0
2,5,5,5,7,8,6.0,9.0,4.0,10.0,3.0,...,5.0,10.0,2.0,3.0,7.0,6.0,8.0,4.0,9.0,5.0
3,3,3,10,20,30,40.0,50.0,60.0,70.0,80.0,...,160.0,170.0,180.0,190.0,200.0,210.0,220.0,230.0,240.0,250.0

In [16]:

# Simulated Data (Replace with actual responses from your DB)
data = {
    "user_id": [1, 2, 3, 4, 5],
    **{f"question{i}": np.random.randint(1, 11, size=5) for i in range(1, 26)}
}

df = pd.DataFrame(data).set_index("user_id")
df, model = cluster_users(df)

print(df[["cluster"]])  # Verify clusters

         cluster
user_id
1              4
2              2
3              0
4              1
5              3

In [19]:
import pandas as pd
from app.services.preprocessing import preprocess_responses

# Simulated Data with Some Missing Values
data = {
    "user_id": [1, 2, 3, 4, 5],
    "question1": [3, None, 5, 6, None],
    "question2": [None, 2, None, 7, 1],
    "question3": [4, 5, 6, None, 7],
    **{f"question{i}": [None, None, None, None, None] for i in range(4, 26)}  # All missing
}

df = pd.DataFrame(data).set_index("user_id")

# Process responses
processed_data = preprocess_responses(df)

# Convert back to DataFrame for easy viewing
df_processed = pd.DataFrame(processed_data, index=df.index, columns=[f"question{i}" for i in range(1, 26)])

print(df_processed)

         question1  question2  question3  question4  question5  question6  \
user_id
1        -1.336306        NaN  -1.341641        NaN        NaN        NaN
2              NaN  -0.508001  -0.447214        NaN        NaN        NaN
3         0.267261        NaN   0.447214        NaN        NaN        NaN
4         1.069045   1.397001        NaN        NaN        NaN        NaN
5              NaN  -0.889001   1.341641        NaN        NaN        NaN

         question7  question8  question9  question10  ...  question16  \
user_id                                               ...
1              NaN        NaN        NaN         NaN  ...         NaN
2              NaN        NaN        NaN         NaN  ...         NaN
3              NaN        NaN        NaN         NaN  ...         NaN
4              NaN        NaN        NaN         NaN  ...         NaN
5              NaN        NaN        NaN         NaN  ...         NaN

         question17  question18  question19  question20  question21  \
user_id
1               NaN         NaN         NaN         NaN         NaN
2               NaN         NaN         NaN         NaN         NaN
3               NaN         NaN         NaN         NaN         NaN
4               NaN         NaN         NaN         NaN         NaN
5               NaN         NaN         NaN         NaN         NaN

         question22  question23  question24  question25
user_id
1               NaN         NaN         NaN         NaN
2               NaN         NaN         NaN         NaN
3               NaN         NaN         NaN         NaN
4               NaN         NaN         NaN         NaN
5               NaN         NaN         NaN         NaN

[5 rows x 25 columns]

/Users/coleuyematsu/Library/Mobile Documents/com~apple~CloudDocs/RoomMatch Reworked/venv/lib/python3.10/site-packages/sklearn/utils/extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/Users/coleuyematsu/Library/Mobile Documents/com~apple~CloudDocs/RoomMatch Reworked/venv/lib/python3.10/site-packages/sklearn/utils/extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/Users/coleuyematsu/Library/Mobile Documents/com~apple~CloudDocs/RoomMatch Reworked/venv/lib/python3.10/site-packages/sklearn/utils/extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count